<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UFT-8">
        <title>API</title> 
    </head>
    <body>
        <div>
            <h1>Frase do dia</h1>
        </div>
        <div>
            <p>Podemos já vislumbrar o modo pelo qual o aumento do diálogo entre os diferentes setores produtivos 
            oferece uma interessante oportunidade para verificação de todos os recursos funcionais envolvidos.
        </p><br>
            <p>O incentivo ao avanço tecnológico, 
            assim como a contínua expansão de nossa atividade desafia a capacidade de equalização dos índices pretendidos.
        </p><br>
            <p>
                Dado o fluxo de dados atual, a otimização 
                de performance da renderização do DOM complexificou o merge no parse retroativo do DOM.
            </p>
        </div>
    </body>
</html>